# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Nate Fox
	email = thefox@gmail.com
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
